/* Corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle at 20% 30%, #1b1b33, #10121a 60%),
                radial-gradient(circle at 80% 70%, #222244, #0c0c1a 70%);
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 60px;
    animation: fadeIn 1.5s ease-in-out forwards;

}

/* Animação de FadeIn */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Título da página */
.titulo {
    text-align: center;
    margin: 30px 0;
}

.titulo h1 {
    font-size: 4rem;
    font-weight: bold;
    color: #f8f9fa;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    margin: 0;
}

.titulo h2 {
    font-size: 1.5rem;
    color: #d1d1d1;
}

/* Botão de voltar */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: transparent;
    color: #d1d1d1;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.back-button:hover {
    background-color: #d1d1d1;
    color: #1a1a2e;
}

/* Menu de botões */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
a {
    color: white;
    text-decoration: none;
}

.chs-button {
    width: 320px;
    height: 70px;
    margin: 20px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #4e4e50;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.chs-button:hover {
    background-color: #ffffff;
    color: #4e4e50;
    transform: scale(1.1);
}

/* Rodapé */
footer {
    background-color: #10121a;
    color: #b2becd;
    text-align: center;
    padding: 15px;
    position: relative;
    width: 100%;
    margin-top: auto; /* Empurra o rodapé para o final */
}
